{% extends 'base2.html.twig' %}



{% block body %}



    <!-- contact form start -->
    <section>
        <div class="container">   
            <!-- contact form start -->

            <div class=" col-md-6 col-md-offset-1 enregistrement">
                <div class="row">
                    <form method="post" action="{{ path('register') }}" id="enregistr">
                        <div class="block">
                            {{ form_start(form) }}
                            <h3 class="annonce"><strong>Enregistrez-vous</strong> pour vous connectez ensuite et participer à notre programme de fidélisation original et convivial : <span class="apero-labo">l'apéro labo !</span></h3>
                            <br>
                            <div class=" col-md-6">
                                <div class="form-group register-prenom">
                                    {{ form_widget(form.prenom, { attr : { placeholder : 'prenom' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.nom, { attr : { placeholder : 'Nom' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-8">
                                <div class="form-group register-societe">
                                    {{ form_widget(form.societe, { attr : { placeholder : 'societe' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group">
                                    {{ form_widget(form.telephone, { attr : { placeholder : 'Tel' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-12 register-email">
                                <div class="form-group">
                                    {{ form_widget(form.email, { attr : { placeholder : 'Email' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="form-group register-mdp">
                                    {{ form_widget(form.plainPassword.first, { attr : { placeholder : 'mdp' } }) }}
                                </div>
                            </div>

                            <div class=" col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second, { attr : { placeholder : 'mdp' } }) }}
                                </div>
                            </div>
                            <br>
                            <div class=" col-md-12">
                                <button class="btn btn-default col-xs-12" type="submit">{{ 'enregistrer' | trans }}</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 connexion">
                
                <div class="row">
                    <div class="col-md-12">
                        <form id="conmexion" action="{{ path('loginregister') }}" method="post">
                            <div class="block">
                                <h3><strong>{{ 'connexion' | trans }}</strong></h3>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'mdp' | trans }}" />
                                </div>
                            </div>
                            <button class="btn btn-default col-xs-12" type="submit">{{ 'connexion' | trans }}</button>
                        </form>
                    </div>
                </div>
                        {% if error is defined and error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
        </div>
    </section>



{% endblock %}





