{% extends 'base2.html.twig' %}



{% block body %}
   
               <!-- contact form start -->
 <section class="contact-form">
        <div class="container">   
            <div class=" col-md-6 col-md-offset-3 col-xs-12 enregistrement">
                <div class="row">
                    <form method="post" action="{{ path('register') }}" id="enregistr">
                        <div class="block">
                            {{ form_start(form) }}
                            <h3 class="annonce"><strong>Enregistrez-vous</strong> pour participer à notre programme<br> de fidélisation original et convivial : <span class="apero-labo">l'apéro labo</span></h3>
                            <br>
                            <div class=" col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.prenom, { attr : { placeholder : 'prenom' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.nom, { attr : { placeholder : 'nom' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-8">
                                <div class="form-group">
                                    {{ form_widget(form.societe, { attr : { placeholder : 'societe' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <div class="form-group">
                                    {{ form_widget(form.telephone, { attr : { placeholder : 'Tel' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.email, { attr : { placeholder : 'Email' } }) }}
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.first, { attr : { placeholder : 'mdp' } }) }}
                                </div>
                            </div>

                            <div class=" col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.plainPassword.second, { attr : { placeholder : 'mdp' } }) }}
                                </div>
                            </div>
                            <br>
                            <div class=" col-md-12">
                                <button class="btn btn-default col-xs-12" type="submit">{{ 'enregistrer' | trans }}</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </form>
                </div>
            </div>
                   </div>   
                        </section>

{% endblock %}