<!-- footer Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-codex">
            <!--    <div class="col-md-12">
                        <div class="footer-manu">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Terms</a></li>
                        </ul>   
                    </div>  -->
                    <div class="col-sm-4 col-xs-12 adresse-FR">
                        <p><strong>Stéphane Séguier</strong> <br>
                           CEO - Codex International<br>
                           T. +33 1 46 35 96 57 <br>
                           F. +33 1 84 79 03 13 <br>
                           M. +33 6 89 21 18 20 <br>
                           99 Chemin de Manerbe <br>
                           14100 Saint Désir - France <br>
                        </p>
                        <p class="lienFooter">
                           <a href="mailto:codex-international.com" class="mailTo">codex-international.comm</a><br>
                           <a href="mailto:stephane.seguier@codex-international.com" class="mailTo">stephane.seguier@codex-international.com</a><br>
                           <br>
                        </p>
                    </div>
                    <div class="col-sm-4 col-xs-12 adresse">
                        <p> <br>
                           CEO - Codex International<br>
                           T. +33 1 46 35 96 57 <br>
                           F. +33 1 84 79 03 13 <br>
                           M. +33 6 89 21 18 20<br>
                           00 Road Avenue<br>
                           Washington, DC - US<br>
                        </p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <a href="{{ path('home') }}">
                        <img class="logo img-responsive" src="{{ asset("layout_front/images/logoCodex.png") }}" alt="LogoCodex">
                        </a>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">    
                    <p class="copyright"> 2018 &copy; codex_international <a href="http://codex-international.com"></a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

        <!-- 
        Essential Scripts
        =====================================-->

        <!-- <script src="{{ asset("layout_front/js/jquery.counterup.js") }}"></script> -->

        
        <!-- Main jQuery -->
        <script src="{{ asset("https://code.jquery.com/jquery-git.min.js") }}"></script>
        
        <!-- Bootstrap 3.1 -->
        <script src="{{ asset("layout_front/plugins/bootstrap/js/bootstrap.min.js") }}"></script>
        
        <!-- Owl Carousel -->
        <script src="{{ asset("layout_front/plugins/slick-carousel/slick/slick.min.js") }}"></script>
        
        <!--  -->
        <script src="{{ asset("layout_front/plugins/magnific-popup/dist/jquery.magnific-popup.min.js") }}"></script>
        
        <!-- Mixit Up JS -->
        <script src="{{ asset("layout_front/plugins/mixitup/dist/mixitup.min.js") }}"></script>
        <!-- <script src="{{ asset("plugins/count-down/jquery.lwtCountdown-1.0.js") }}"></script> -->
        <script src="{{ asset("layout_front/plugins/SyoTimer/build/jquery.syotimer.min.js") }}"></script>

        <!-- Form Validator -->
        <script src="{{ asset("http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js") }}"></script>
        <script src="{{ asset("http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js") }}"></script>

        <!-- Google Map -->
        <script src="{{ asset("layout_front/plugins/google-map/map.js") }}"></script>
        <script src="{{ asset("https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap") }}"></script>    

        <script src="{{ asset("layout_front/js/script.js") }}"></script>

        <!-- CK Document editor -->
        <script src="{{ asset("https://cdn.ckeditor.com/ckeditor5/10.0.0/decoupled-document/ckeditor.js") }}"></script>

    </body>
</html>
