{% extends "admin/layout_admin.html.twig" %}

{% block body %}
      <div class="card mb-3">
        <div class="card-header">
          <h4><i class="fa fa-table"></i> Ajouter, modifier, ou supprimer un produit de la base de données</h4></div>
            <a class="btn btn-primary" href="{{path('add_produit')}}"><i class="fa fa-plus"></i> Ajouter un produit</a>

          
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>PDF</th>
                  <th>Category</th>
                  <th>Actions</th>
                  
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>PDF</th>
                  <th>Category</th>
                  <th>Actions</th>
                 
                  
                </tr>
              </tfoot>
              
              <tbody>
                  {%for produit in produits %}
                <tr>
                  <td>{{produit.pdf}}</td>
                  <td>{{produit.category.titre}}</td>
                 
                  <td><a class="btn btn-danger" href="{{ path('delete_produit', {'id' : produit.id}) }}"><i class="fa fa-trash"></i></a>
                   <a class="btn btn-success" href="{{ path('edit_produit', {'id' : produit.id}) }}"><i class="fa fa-edit"></i></a></td>
                </tr>
                   {%endfor%}
              
              
            </table>
          </div>
        </div>

    
{% endblock %}