{% extends 'base.html.twig' %}






    

{% block body %}
    
    <h1>{# {{ productFound.pdf }} #}</h1>
    <div class="container">
        <div class=row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                {% for product in productFound %}
                    <h2><a href="{{ asset(product.pdf) }}" >{{ product.nom }}</a></h2>
                    <h3>{{ product.category.titre }}</h3>
                    <h5>{{ product.category.description }}</h5>
                    <br>
                {% endfor %}  
            </div>
        </div>
    </div>
        
{% endblock %}
